[Unit]
Description=Generate Random Hostname
DefaultDependencies=no
Before=sysinit.target lldpd.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'hostname $(/usr/local/bin/generate-hostname.sh); echo $(hostname) > /etc/hostname'
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target